.textarea{
    min-height: 80px;
}
input{
    border-radius: 10px;
    font-weight: 600;
    font-size: larger;
    border: 2px solid black;
    background-color: rgba($color: $primary-color, $alpha: 0.4);
}
.full-width{
    width: 100%;
}
.form-caption{
    font-size: small;
    color: $muted-grey;
    margin-top: $default-padding/2;
}
.fancy-label{
    font-size: large;
}
.label-indicator{
    .indicator{  
        // margin-top: $default-padding;

        font-size: 20px;
    }
    p{
        font-weight: 500;
        font-size: larger;
    }
    margin-bottom: $default-padding*2;
}