@import "./variables.scss";
#start-story {
  margin-top: 200px;
  width: fit-content;
  margin-left: auto;
}
#library-section {
  margin-left: -$default-padding * 3;
  margin-right: -$default-padding * 3;
  margin-top: $default-padding * 5;
  background-color: #ebe6e5;
  color: $text-black;
  min-height: 300px;
  height: 100%;
  padding: $default-padding * 3;
  color: white;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 10% 90%;
  .section-title {
    font-weight: 600;
    color: $text-black;
  }
}
#library-section-books-list {
  display: flex;
  gap: 40px;
}
#library-section-books {
  height: 100%;
}
.feature-card {
  background-color: white;
  padding: $default-padding $default-padding * 2;
  position: relative;
  min-width: 250px;
  color: $text-black;
  button {
    position: absolute;
    bottom: -10px;
    right: -10px;
    i {
      font-size: 1.2em;
    }
  }
  .book-image-background {
    width: 105px;
    height: 105px;
    background-color: #e5e5e5;
    display: grid;
    place-items: center;
  }
  .book-image {
    width: 100px;
    height: 100px;
    // object-fit: cover;
    position: relative;
  }
  .book-title {
    font-weight: 600;
  }
  .book-author {
    font-weight: 500;
    margin-top: $default-padding/2;
    p {
      margin-left: $default-padding/2;
    }
  }
}
.feature-storyboard {
  display: flex;
  gap: 10px;
  margin-top: $default-padding;
  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}
#pick-modal-buttons {
  gap: 20px;
}
.template-choices {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin:$default-padding*2 0;
}
.template-choice-card {
  background-color: white;
  cursor: pointer;
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  gap: $default-padding;
  padding: $default-padding/2 $default-padding;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 7px;
  transition: all .2s ease-in-out;
  color: $text-black;
}
.template-choice-card.selected{
    background-color: $tertiary-color;
    // color: white;
    border: 2px solid $text-black;
    border-radius: 0px;
    // font-weight: 600;
    scale: 1.05;
}
#pick-modal{
    .button-prefix{
        font-size: small;
    }
}
.modal-footer{
    .button-row{
        margin-top: $default-padding*2;
        width: fit-content;
        margin-left: auto;
    }
}

#story-build{
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80vh 20vh;
    grid-template-columns: 85vw 13vw;
}
.story-build-sidebar{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    background-color: $primary-color;
    padding: $default-padding $default-padding*2;
}
.storyboard-header h4{
    font-weight: 600;
    color: white;
    font-size: smaller;
}
.storyboard-body{
    height: 100%;
}
.story-content{
    padding: $default-padding*2 $default-padding*4;
    align-self: center;
}
.story-text{
    font-size: 1.8em;
    line-height: 2;
}
.storyboard-list{
    margin-top: $default-padding;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.story-footer{
    align-self: self-end;
    padding: $default-padding*2 $default-padding;
    .fitted-container{
        margin-left: auto;
    }
}
.storyboard-list{
  gap: 15px;
  height: 95%;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.storyboard-item{
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 10px;
  scale: 0.8;
  img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
.storyboard-item.active{
  scale: 1;
  // border: 4px solid $text-black;
}
.possibility-subtitle{
  margin: $default-padding 0;
  font-weight: 600;
  font-size: larger;
;
  span{
    color: $tertiary-color;
  }
}
.possibility-header{
  margin: $default-padding 0;
  font-weight: 500;
  font-size: 0.9em;
  color: rgba($color: white, $alpha: 0.9);
  span{
    color: $tertiary-color;
  }
}
.textarea{
  min-height: 70px;
}
.form-container{
  input{
    width: 100%;
    
  }
}
.possibility-list{
  margin: $default-padding*2 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.possibility-list-card{
  cursor: pointer;
  img{
    width: 150px;
    height: 150px;
  }
}
.possibility-list-card.active{
  border: 2px solid $text-black;
  scale: 1.1;
}
.possibility-text{
  line-height: 2;
  font-size: 1em;
  color: white;
  text-align: center;
  font-weight: 500;
  margin: $default-padding/2 0;
  // max-width: 80%;
}
.modal-footer{
  margin: $default-padding 0;
}
#story-play{
  display: grid;
  padding: 0;

  grid-template-rows: 80vh 20vh;
  
}
.story-timeline{
  align-self: self-end;
  padding: $default-padding*2 $default-padding*3;
}

.timeline-list{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.timeline-card{
  img{
    width: 70px;
    height: 70px;
    border-radius: 7px;
    border: 2px solid grey;
  }
}
.timeline-card.active{
  img{
    width: 100px;
    height: 100px;
    border: 2px solid $primary-color;
  }
}
.story-section{
  padding: $default-padding*2 $default-padding*3;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  
}
.story-text-section{
  max-width: 500px;
  align-self: center;

}
.story-image-section{
  max-height: 80vh;
  img{
    height: 100%;
  }
}