@import "./variables.scss";
.greeting-text {
  font-weight: 600;
  font-size: 25px;
}
#story-home {
  .main-section {
    margin: 50px 0;
  }
}
.card {
  border-radius: 10px;
}
.home-card {
  color: white;
  cursor: pointer;
  position: relative;
  padding: $default-padding * 2;
  min-height: 200px;
  flex-grow: 1;
  transition: scale 0.3s ease-out;
  .card-content {
    max-width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &:hover {
    scale: 1.01;

    img {
      scale: 1.001;
    }
  }
  h2 {
    font-weight: 600;
  }
  button {
    min-width: 100px;
    font-size: 20px;
  }
}
.home-card.bg-primary {
  button {
    color: $primary-color;
  }
}
.home-card.bg-secondary {
  button {
    color: $secondary-color;
  }
}
.home-card.bg-tertiary {
  button {
    color: $tertiary-color;
  }
}
.home-card-description {
  font-size: 16px;
  line-height: 2;
}
#home-cards-secondary-container {
  gap: 25px;
  margin-top: 25px;
}
.home-card .home-card-image {
  height: 250px;
  position: absolute;
  right: $default-padding * 2;
  top: 0;
  transition: scale 0.4s ease-out;
}

//Story CREATE
.header-image {
  position: relative;

  // width: 80px;
  // height: 80px;

  &::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: rgba($color: $primary-color, $alpha: 0.7);
    border-radius: 50%;
    z-index: -1;
    margin: 0 auto;
  }

  img {
    width: 70px;

    z-index: 2;
    margin: 0 auto;
  }
}
.main-header h1 {
  margin: $default-padding 0;
  font-weight: 600;
}

.scale-hover {
  transition: scale 0.3s ease-out;

  &:hover {
    scale: 1.05;
  }
}
.create-choice-card {
  width: 250px;
  height: 280px;
  position: relative;
  // overflow: hidden;

  cursor: pointer;
  &:hover {
    img {
      scale: 1.07;
    }
  }
  img {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    transition: scale 0.35s ease-out;
    height: 240px;
  }
  svg {
    position: absolute;
    bottom: 0;
    // display: none;
    // height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    fill: $body-background;
    // fill: ra($color: $text-black, $alpha: 0.5);
    // mix-blend-mode: multiply;
    overflow: hidden;
  }
  h2 {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    font-size: 20px;
    // color: white;
    z-index: 2;
    text-align: center;
    font-weight: 600;
  }
}
#create-choice-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.slideout-body {
  min-height: 40%;
}
.slideout-body,
.footer-container {
  padding: $default-padding * 2 50px;
}
.slideout-panel .header-container {
  margin: $default-padding 0;
}
.header-container {
  position: relative;
  .avatar-speak {
    width: fit-content;
    margin: 0 auto;
  }
  .try-again-container{
    position: absolute;
    right: 50px;
    top: 50px;
  }
}
.slideout-body {
  .subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .textarea {
    height: 100px;
  }
}
.slideout-footer {
  button {
    height: 50px;
  }
}
.slideout-body .story-text {
  font-size: 25px;
  line-height: 2;
  margin-top: $default-padding;
}
.story-title{
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
}