@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}
body {
  color: $text-black;
  // background-color: $body-background;
}
.row {
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
  text-align: center;
  .row {
    gap: 7px;
    // width: fit-content;
    justify-content: center;
  }
}

main {
  padding-left: 100px;
  padding-right: 100px;
}
.secondary-background {
  background-color: $primary-color;
}
.padded-btn {
  padding: $default-padding $default-padding * 2;
}
.circle-btn {
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
}
.button-prefix {
  font-weight: 600;
  font-size: small;
}
.center-container {
  display: grid;
  place-items: center;
}
.default-gap {
  gap: $default-padding;
}
.space-btn {
  justify-content: space-between;
}
.tiny-image {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-image {
  border: 2px solid $text-black;
}
.caption {
  font-size: small;
  color: $muted-grey;
}
.column {
  display: flex;
  flex-direction: column;
}
.divider {
  margin: $default-padding * 2 0;
}
input {
  border: 1.5px solid $text-black;
  padding: $default-padding;
  outline: none;
}
.text-field {
  width: 100%;
  min-height: 80px;
}
.fitted-container {
  width: fit-content;
}
.left-auto {
  margin-left: auto;
}
.bg-primary {
  background-color: $primary-color;
}
.bg-secondary {
  background-color: $secondary-color;
}
.bg-tertiary {
  background-color: $tertiary-color;
}
.card-btn {
  background-color: white;
  width: fit-content;
  padding: $default-padding $default-padding * 2;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  font-size: 15px;
}

.avatar-speak {
  display: flex;
  img {
    max-height: 200px;
  }
  .avatar-chat-bubble {
    align-self: start;
    font-weight: 500;
  }
}
.tertiary-bubble{
  .avatar-chat-bubble{
    background-color: $tertiary-color;
  }
}
.primary-bubble{
  .avatar-chat-bubble{
    background-color: $primary-color;
  }
}
.secondary-bubble{
  .avatar-chat-bubble{
    background-color: $secondary-color;
  }
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

@import "./chat-bubble.scss";
@import "./buttons.scss";
@import "./forms.scss";
@import "./animations.scss";